doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    script(src='https://cdn.bootcss.com/jquery/1.12.1/jquery.js')
  body
    block content
