extends layout

block content
 div asdsa
 iframe(src="https://pay.weixin.qq.com/wiki/doc/api/wxa/wxa_api.php?chapter=7_7&index=3" id="external-frame" width="100%" onLoad="setIframeHeight(this)")
 script(src="./javascripts/iframe.js")