extends layout

block content
  h1= title
  p Welcome to #{title}
  input(type='text' placeholder="cash" class="cash")
  input(type='text' placeholder="bank" class="bank")
  div.link.asd 提交
  script(src="./javascripts/submit.js")
